<mat-card>
  <mat-card-header>
    <div class="back">
      <button mat-icon-button routerLink="/home/users">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="menu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="editUser()" mat-menu-item>
          <mat-icon>edit_note</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>call</mat-icon>
          <span>Call</span>
        </button>
        <button mat-menu-item disabled="">
          <mat-icon>mail</mat-icon>
          <span>Send mail</span>
        </button>
      </mat-menu>
    </div>
    <div class="profile-img">
      <img src="/assets/img/profile/2.jpg" />
    </div>
    <div class="profile-desc">
      <span>{{ user.firstName }} {{ user.lastName }}</span>
      <span>{{ user.email }}</span>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="box">
      <div class="address-box">
        <h2>Address</h2>
        <span>{{ user.street }}</span>
        <span>{{ user.zipCode }} {{ user.city }}</span>
      </div>
      <div class="birth">
        <h2>Birth Date</h2>
        <span>{{ user.birthDate }}</span>
      </div>
    </div>
    <div class="box">
      <div class="phone">
        <div class="head">
          <h2>Phone</h2>
          <mat-icon (click)="this.editPhoneToggle = !this.editPhoneToggle;">edit </mat-icon>
        </div>
        <div class="phone-input">
          <span *ngIf="!editPhoneToggle">{{
            user.phoneNumber || "No number available"
          }}</span>
          <input
            (keyup.enter)="submitPhoneNumber(phone.value)"
            autofocus
            *ngIf="editPhoneToggle"
            type="text"
            value="{{ user.phoneNumber }}"
            #phone
          />
        </div>
      </div>
      <div class="deals">
        <h2>Deals</h2>
        <span>{{ user.deals }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
