<button
  class="add-user-btn"
  mat-fab
  color="accent"
  matTooltip="Add a new user!"
  matTooltipHideDelay="225"
  (click)="openDialog()"
>
  <mat-icon>add</mat-icon>
</button>

<mat-card>
  <mat-card-content>
    <table class="users-table">
      <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>Street</th>
        <th>City</th>
      </tr>
      <tr
        *ngFor="let user of allUsers; let i = index"
        [routerLink]="['/home/user/' + allIds[i]]"
      >
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.zipCode }}</td>
        <td>{{ user.city }}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
