<button
  class="add-user-btn"
  mat-fab
  color="accent"
  matTooltip="Add a new user!"
  matTooltipHideDelay="225"
  (click)="openDialog()"
>
  <mat-icon>add</mat-icon>
</button>

<mat-card>
  <mat-card-content>
    <table class="users-table">
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>E-Mail</th>
        <th>City</th>
      </tr>
      <tr>
        <td>Name</td>
        <td>Surname</td>
        <td>E-Mail</td>
        <td>City</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
