.sec-section {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  gap: 16px;
}

.chart-container {
  width: calc(50% - 8px);
}

.chart {
  // max-height: 400px !important;
}

@media (width < 700px) {
  .sec-section {
    flex-direction: column;
    width: 100%;
  }
  .chart-container {
    width: 100%;
  }
  .chart {
    height: 500px !important;
  }
}