<main>
  <div class="logo">
    <img src="assets/img/logo.png" alt="logo" />
  </div>
  <form [formGroup]="form">
    <!-- <h2>Enter with your account</h2> -->
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        placeholder="your-name@example.com"
        formControlName="email"
      />
      <mat-error *ngIf="form.get('email')!.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="form.get('email')!.hasError('email')">
        Email is invalid
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        placeholder="Password"
        formControlName="password"
      />
      <mat-error *ngIf="form.get('password')!.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!form.valid"
      (click)="login()"
      *ngIf="!isLoggingIn"
      test-id="login-button"
    >
      LOGIN
    </button>
    <button
      mat-raised-button
      color="primary"
      class="button-loader"
      *ngIf="isLoggingIn"
      test-id="login-loader"
    >
      <mat-spinner color="accent" diameter="20"></mat-spinner>
    </button>
    <div
      style="width: 100%"
      matTooltip="Enter your details above and register here"
      [matTooltipDisabled]="form.valid"
    >
      <button
        mat-stroked-button
        color="primary"
        [disabled]="!form.valid"
        (click)="register()"
      >
        REGISTER
      </button>
    </div>
    <div class="aligned-to-right">
      <button
        mat-button
        color="primary"
        [disabled]="!form.get('email')!.valid"
        (click)="recoverPassword()"
        *ngIf="!isRecoveringPassword"
        test-id="recover-password-button"
      >
        Recover password
      </button>
      <button
        mat-button
        color="primary"
        class="button-loader recover-password"
        *ngIf="isRecoveringPassword"
        test-id="recover-password-loader"
      >
        <mat-spinner color="primary" diameter="20"></mat-spinner>
      </button>
    </div>
    <div class="guest-login">
      <button
        mat-raised-button
        color="primary"
        (click)="guestLogin()"
        test-id="guest-login-button"
      >
        GUEST LOGIN
      </button>
      <button
        style="height: 50px"
        mat-stroked-button
        color="secondary"
        (click)="signInWithGoogle()"
      >
        <img
          class="google-btn"
          src="assets/img/google_logo.svg"
          width="20px"
        />
        <span>SignIn with Google</span>
      </button>
    </div>
  </form>
</main>
