main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(0deg, #111, #111, #000);
  color: aliceblue;
  height: 100vh;
  h2 {
    text-align: center;
  }

  .logo {
    img {
      width: 100%;
      max-width: 350px;
    }
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  input {
    width: 100%;
  }

  button,
  mat-form-field {
    width: -webkit-fill-available;
  }

  mat-form-field {
    margin-bottom: 10px;
    width: 100%;
  }

  button {
    width: 100%;
    margin: 5px 0;

    &[mat-button] {
      width: auto;
    }
  }

  .aligned-to-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
  }
}

.button-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}

.recover-password {
  padding-left: 62px;
  padding-right: 62px;
}

button .google-btn {
  margin-right: 10px;
  transform: translateY(4px);
}

.guest-login {
  width: 100%;
  button {
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}
