.menu {
  position: absolute;
  right: 5px;
  top: 5px;
}

.delete-btn {
  color: #f44336;
  font-weight: 600;
}

.deal-infos {
  display: flex;
  gap: 20px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
}

.left {
  font-weight: 600;
}
