<mat-card>
  <mat-card-header>
    <h2>Software Packet 2</h2>
    <div class="menu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>edit_note</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item>
          <mat-icon>call</mat-icon>
          <span>Done</span>
        </button>
        <button mat-menu-item>
          <mat-icon color="primary">mail</mat-icon>
          <span class="delete-btn">Delete</span>
        </button>
      </mat-menu>
    </div>
  </mat-card-header>
  <mat-card-content> test </mat-card-content>
</mat-card>
