<mat-card>
  <mat-card-header>
    <h2>Software Packet 2</h2>
    <div class="menu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>edit_note</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item>
          <mat-icon>done</mat-icon>
          <span>Done</span>
        </button>
        <button mat-menu-item>
          <mat-icon color="warn">delete</mat-icon>
          <span class="delete-btn">Delete</span>
        </button>
      </mat-menu>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="deal-infos">
      <div class="left">
        <span>Name:</span>
        <span>Email:</span>
        <span>Amount:</span>
      </div>
      <div class="right">
        <span>Harry Potter</span>
        <span>h.potter@grifindor.uk</span>
        <span>1337€</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
