<mat-drawer-container class="example-container" autosize>
  <mat-drawer [opened]="true" #drawer class="example-sidenav" mode="side">
    <div class="logo-container">
      <span>LOGO!</span>
    </div>
    <div class="menu-links">
      <ul>
        <li><mat-icon>dashboard</mat-icon>Dashboard</li>
        <li><mat-icon>account_circle</mat-icon>User</li>
      </ul>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar>
      <button
        type="button"
        mat-button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Simple CRM</span>
    </mat-toolbar>
  </div>
</mat-drawer-container>

<router-outlet></router-outlet>
