.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  background-color: #0000;
  border: unset;
  border-radius: 50%;
  padding: 10px;
  &:hover {
    background-color: #555;
    cursor: pointer;
  }
}

mat-toolbar {
  display: flex;
  gap: 20px;
  height: 64px;
}

mat-icon {
  filter: invert(1);
}

.logo-container {
  height: 64px;
  border-bottom: 1px solid #fff2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-container {
  width: 100%;
  height: 100vh;
}

.example-sidenav-content {
  width: 100%;
}

.example-sidenav {
  width: 250px;
}

.menu-links {
  ul {
    padding: unset;
    margin-top: unset;
  }
  li {
    padding: 10px 20px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 175ms ease-in-out;
    &:hover {
      cursor: pointer;
      background-color: #555;
    }
  }
  mat-icon {
    filter: invert(0);
  }
}