.example-spacer {
  flex: 1 1 auto;
}

.menu-icon {
  filter: invert(1);
  transition: background-color 125ms ease;

  &:hover {
    background-color: #ccc;
    cursor: pointer;
  }
}

mat-toolbar {
  display: flex;
  gap: 20px;
  height: 64px;
}

mat-icon {
  filter: invert(1);
}

.logo-container {
  height: 64px;
  border-bottom: 1px solid #fff2;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 44px;
  }
}

.example-container {
  width: 100%;
  height: 100vh;
}

.example-sidenav-content {
  width: 100%;

}

.example-sidenav {
  width: 250px;
}

.router-container {
  padding: 16px 56px;
  overflow-y: auto;
}

.menu-links {
  ul {
    padding: unset;
    margin-top: unset;
  }

  li {
    padding: 10px 20px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 175ms ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: #555;
    }
  }

  mat-icon {
    filter: invert(0);
  }
}