<div class="started-deals">
  <h1>Deals started</h1>
  <div class="deal-cards">
    <app-deals-card *ngFor="let deal of allDealIds"></app-deals-card>
  </div>
</div>
<div class="completed-deals">
  <h1>Deals completed</h1>
  <div class="deal-cards">
    <app-deals-card></app-deals-card>
    <app-deals-card></app-deals-card>
  </div>
</div>

<button
  class="add-deal-btn"
  mat-fab
  color="accent"
  matTooltip="Add a new user!"
  matTooltipHideDelay="225"
  (click)="openDialog()"
>
  <mat-icon>add</mat-icon>
</button>
