<div class="started-deals">
  <h1>Deals started</h1>
  <div class="deal-cards">
    <app-deals-card
      *ngFor="let deal of runningDealIds; let i = index"
      [index]="i"
      [dealId]="deal"
    ></app-deals-card>
    <!--  -->
  </div>
</div>
<div class="completed-deals">
  <h1>Deals completed</h1>
  <div class="deal-cards">
    <app-deals-card
      *ngFor="let doneDeal of doneDealIds; let j = index"
      [index]="j"
      [dealId]="doneDeal"
    ></app-deals-card>
  </div>
</div>

<button
  class="add-deal-btn"
  mat-fab
  color="accent"
  matTooltip="Add a new user!"
  matTooltipHideDelay="225"
  (click)="openDialog()"
>
  <mat-icon>add</mat-icon>
</button>
