.completed-deals {
  margin-top: 20px;
}

.deal-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.add-deal-btn {
  position: fixed;
  bottom: 56px;
  right: 56px;
}

.empty-content {
  width: 100%;
  display: flex;
  justify-content: center;
  .info {
    background-color: #c2185b;
    padding: 10px 20px;
    border-radius: 12px;
  }
}