mat-card-header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  background-image: linear-gradient(175deg,
        hsl(340deg 82% 52%) 0%,
        hsl(344deg 54% 44%) 44%,
        hsl(0deg 0% 26%) 100%);
  height: 100px;
  border-bottom: 1px solid #fff4;
  .profile-img {
    position: absolute;
    bottom: -20px;
    img {
      border-radius: 20%;
      width: 80px;
      filter: invert(1) grayscale(0.2);
    }
  }
  .profile-desc {
    padding-left: 100px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    span {
      &:first-child {
        font-size: 24px;
      }
    }
  }
  .menu {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 20px;
  height: 200px;
  .address-box {
    display: flex;
    flex-direction: column;
  }
}