<mat-card>
  <mat-card-header>
    <div class="menu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="editUser()" mat-menu-item>
          <mat-icon>edit_note</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>call</mat-icon>
          <span>Call</span>
        </button>
        <button mat-menu-item disabled="">
          <mat-icon>mail</mat-icon>
          <span>Message</span>
        </button>
      </mat-menu>
    </div>
    <div class="profile-img">
      <img src="assets/img/profile/1.jpg" />
    </div>
    <div class="profile-desc">
      <span>{{ user.firstName }} {{ user.lastName }}</span>
      <span>{{ user.email }}</span>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="address-box">
      <h2>Address</h2>
      <span>{{ user.street }}</span>
      <span>{{ user.zipCode }} {{ user.city }}</span>
    </div>
    <div class="birth">
      <h2>Birth Date</h2>
      <span>{{ user.birthDate }}</span>
    </div>
  </mat-card-content>
</mat-card>
