<mat-card>
  <mat-card-header>
    <div class="menu">
      <!-- <button (click)="openDialog()" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button> -->
    </div>
    <div class="profile-img">
      <img src="assets/img/profile/1.jpg" />
    </div>
    <div class="profile-desc">
      <span>{{ user.firstName }} {{ user.lastName }}</span>
      <span>{{ user.email }}</span>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="address-box">
      <h2>Address</h2>
      <span>{{ user.street }}</span>
      <span>{{ user.zipCode }} {{ user.city }}</span>
    </div>
    <div class="birth">
      <h2>Birth Date</h2>
      <span>{{ user.birthDate }}</span>
    </div>
  </mat-card-content>
</mat-card>
