<mat-drawer-container class="example-container" autosize>
  <mat-drawer [opened]="true" #drawer class="example-sidenav" mode="side">
    <div class="logo-container">
      <img src="assets/img/logo.png" />
    </div>
    <div class="menu-links">
      <ul>
        <li routerLink="/home/dashboard">
          <mat-icon>dashboard</mat-icon>Dashboard
        </li>
        <li routerLink="/home/user"><mat-icon>account_circle</mat-icon>User</li>
        <li routerLink="/home/deals"><mat-icon>storefront</mat-icon>Deals</li>
        <li (click)="logout()" routerLink="" class="login">
          <mat-icon>logout</mat-icon>Logout
        </li>
      </ul>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar>
      <button (click)="drawer.toggle()" mat-icon-button class="menu-icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Simple CRM</span>
    </mat-toolbar>
  </div>
  <div class="router-container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
