.dia-content {
  padding-top: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  // gap: 10px;
}

.double-input {
  display: flex;
  gap: 16px;
}

.full-width-input {
  width: 100%;

  mat-form-field {
    width: 100%;
  }
}

mat-progress-bar {
  margin-top: 16px;
}

@media (width < 615px) {
  h1 {
    margin-bottom: unset;
  }
  .double-input {
    gap: unset;
    flex-direction: column;
    width: 100%;
  }
}

@media (height < 700px) {
  .dia-content {
    padding-top: 80px;
  }
}