.add-user-btn {
  position: absolute;
  bottom: 56px;
  right: 56px;
  z-index: 100;
}

mat-card-content {
  padding: unset !important;
  
}

.users-table {
  width: 100%;
  font-size: clamp(11px, 2vw, 16px);
  tr {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    border-bottom: 1px solid #fff2;
    padding: 20px 0;
    cursor: pointer;
    &:last-child {
      border-bottom: unset;
    }
    &:first-child {
      cursor: unset;
      &:hover {
        background-color: unset;
      }
    }
    &:hover {
      background-color: #0001;
    }
  }
}