<div class="wrapper">
  <h1>Welcome on SimpleCRM!</h1>
  
  <h2>Explanation:</h2>
  <ul>
    <li>
      Dashboard:
      <span
        >On the dashboard you have an overview of all revenues of the last and
        this year. In addition, all started deals of the respective users are
        displayed. All users that are listed can also be found in the user
        list.</span
      >
    </li>
    <li>
      Users:
      <span
        >All users that have been entered are displayed here. You can add your
        own users with the + button in the bottom right corner.</span
      >
      <ol>
        User Details:
        <span
          >After clicking on a user, you get to the detailed view. Here you can
          see, for example, the date of birth.
        </span>
      </ol>
      <ol>
        Edit User:
        <span
          >If you want to edit the user, you can do so by clicking on the 3 dots
          in the upper right corner. Then click on 'Edit' to change all the
          information you want.</span
        >
      </ol>
    </li>
    <li>
      Deals:
      <span
        >All deals are listed here in two categories. Once 'Deals started',
        which appear as soon as you create one with the + button. In the menu
        (in each card of the deal) the deals can be completed. After that they
        appear under the 'Deals completed' category.</span
      >
      <ol>After creation:
        <span>The deal will be displayed in the dashboard for that user under 'Deals completed'.</span>
      </ol>
      <ol>After completion:
        <span>The deal is entered into the monthly revenue with the respective amount that the deal was worth.</span>
      </ol>
    </li>
    <li>News:
      <span>Stay up-to-date! Integration of a news API.</span>
    </li>
  </ul>
  <h2>Note: </h2>
  <p>
    This application is based on the idea of a Customer Relationship Management
    (CRM) system. All available data is for demonstration purposes only. All
    data entered can be viewed and edited by any user. Therefore, please do not
    enter any personal data.<br /><br />

    The whole website is based on Angular and was realized using Firebase, which
    serves as backend. The user interface was created using Material Design.
    <br /><br />

    It is mainly used to show my experience skills in using Angular and
    Firebase. Have fun trying it out!
  </p>
</div>
